<head>
   <title>MAD Libs</title>
 </head>
 <body>
   <img src="images/smiley.gif">
<p><strong>{{female1}}</strong> and her ex-husband <strong>{{male1}}</strong><br>
 were seen last night at the Twenty-Three Club holding <br>
 <strong>{{male2}}</strong>. Could it be reconcilliation? The international heartthrob, <br>
 <strong>{{male2}}</strong>, and the glamoruous top model, <br>
 <strong>{{female2}}</strong>, are expecting their first baby in November. <br>
 <strong>{{female2}}</strong> is denying stork rumors, <br>
 but yesterday she was buying a maternity <strong>{{articlesOfClothing}}</strong>
</p>
 </body>
